/* * {
    color: red;
}

.form-label {
    color: black;
}
h1, h2, h3 {
    text-transform: uppercase;
} */

// import bootstrap :


// bootstrap variables overrides:
@import "variables";

// Bootstrap Styles:
@import "../../node_modules//bootstrap/scss/bootstrap.scss";

// Original Styles:
@import "./components/navbar";