/* * {
    color: red;
}

.form-label {
    color: black;
}
h1, h2, h3 {
    text-transform: uppercase;
} */

// import bootstrap :

@import "variables.scss";
@import "../../node_modules//bootstrap/scss/bootstrap.scss";